<ul class="nav nav-pills nav2 nav3">
  <li role="presentation" class="antialiased"><a ng-class="[changed ? '' : 'disabled inactive']" href ng-click="changed ? saveSettings() : void(0);">Save</a></li>
  <li role="presentation" class="antialiased"><a ng-class="[changed ? '' : 'disabled inactive']" href ng-click="cancelChanges()">Undo</a></li>
  <li role="presentation" class="antialiased" ng-show="newCount>0">
    <div class="dropdown" style="display: inline-block; padding-top: 2px">
      <button class="btn btn-default dropdown-toggle btn-outline-inverse" type="button" id="dropdown-new-series" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        New <span class="label label-danger" ng-bind="newCount"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown{{movie.id}}">
        <li><a ng-click="markAllSeen()" href>Mark all seen</a></li>
      </ul>
    </div>
  </li>
</ul>

<div class="trackers-list"
     ng-style="{ paddingBottom: previewActive ? '40%' : '15px' }">
  <!--<button class="btn btn-primary" ng-click="saveSettings()">Save</button>-->
  <!--<button ng-click="resetSettings()">Reset</button>-->
  <!-- Series list -->
  <button class="previewClose btn btn-primary glossy" ng-show="previewActive" ng-click="preview(previewId)">
    <span class="glyphicon glyphicon-chevron-down"></span> <span>Close</span>
  </button>
  <iframe src="about:blank" class="previewFrame" id="previewFrame"
          nwdisable nwfaketop
           />
  <div ng-repeat="movie in series | keyedOrderBy : 'title' : true">
    <input type="checkbox" ng-model="movie.status" id="track{{movie.id}}" ng-click="setChanged()" />
    <span class="label label-danger pointer" ng-if="movie.isNew" ng-click="markSeen(movie)">New</span>
    <label for="track{{movie.id}}" ng-bind="movie.title" class="pointer unselectable"></label>
    <button ng-click="preview(movie.id)"
            ng-class="['btn', 'btn-xs', (previewActive && previewId == movie.id) ? 'btn-danger' : 'btn-default']">
      <span ng-class="['glyphicon', (previewActive && previewId == movie.id) ? 'glyphicon-eye-close' : 'glyphicon-eye-open']"></span>
      <span>{{(previewActive && previewId == movie.id) ? 'Close preview' : 'Preview'}}</span>
    </button>
  </div>
</div>