<ul class="nav nav-pills nav2">
  <li role="presentation" class="antialiased">
    <input type="checkbox" ng-model="config.showSeen" ng-click="$emit('settings')" id="showAll">
    <label for="showAll">
      {{config && config.showSeen ? 'Hide Seen' : 'Show Seen'}}
    </label>
  </li>
  <li role="presentation" class="antialiased">
    <label ng-click="getUpdates(true)" ng-show="!fetchingUpdates">
      Get Updates
    </label>
    <span ng-show="fetchingUpdates">
      <i class="fa fa-refresh fa-spin"></i> Updating...
    </span>
  </li>
  <li class="navbar-right" style="margin-right: 15px">
    <div class="inline antialiased">Disk use: {{totalFileSize | fileSize}}</div>
    <button class="btn btn-sm btn-outline-inverse" ng-click="!cleanupRunning ? fileCleanup() : void(0)">
      <i ng-if="cleanupRunning" class="fa fa-refresh fa-spin"></i> Cleanup
    </button>
  </li>
</ul>
<div class="list-container padding-top-40">
  <div ng-repeat="(mIndex, movie) in series" class="panel panel-default movie"
       ng-if="movie.status && (movie.showSeen || (!movie.seen || config.showSeen))">
    <!-- PANEL HEADER -->
    <div class="panel-heading movie-header unselectable">
      <!-- Expand/collapse -->
      <input type="checkbox" ng-model="movie.collapsed" ng-click="$emit('settings')" class="displayNone" id="collapsed{{movie.id}}" />
      <label for="collapsed{{movie.id}}"
             ng-class="[
              'glyphicon', movie.collapsed ? 'glyphicon-expand' : 'glyphicon-collapse-down',
              'collapser', 'unselectable', 'pointer',
              config.showSeen && movie.updatingStatus != 1 && movie.unseenCount == 0 ? 'displayOverride' : '']"
             data-toggle="tooltip" data-placement="bottom" title="Collapse/Expand">
      </label>
      <!-- Spinner -->
      <i ng-show="movie.updatingStatus == 1" 
        class="fa fa-refresh fa-spin" style="font-size: 22px; vertical-align: middle; padding: 0 2px 0 1px; width: 19px">
      </i>
      <!-- Unseen count -->
      <span ng-bind="movie.unseenCount" ng-class="['badge', 'unseenCount', movie.unseenCount > 9 ? 'twoDigit' : '']"
            ng-show="movie.updatingStatus != 1 && movie.unseenCount > 0">
      </span>
      <!-- Movie Title -->
      <h3 class="btn- panel-title" style="display: inline-block; line-height: 35px">
        <label for="collapsed{{movie.id}}" class="unselectable pointer antialiased">
          {{movie.title}}
        </label>
      </h3>
      <!--&lt;!&ndash; Show/Hide unseen &ndash;&gt;-->
      <!--<input type="checkbox" ng-model="movie.showSeen" ng-click="$emit('settings')" class="displayNone" id="showSeen{{movie.id}}" />-->
      <!--<label for="showSeen{{movie.id}}" class="btn btn-sm btn-default glossy"-->
             <!--ng-show="!config.showSeen">-->
        <!--<span ng-class="['glyphicon', movie.showSeen ? 'glyphicon-eye-close' : 'glyphicon-eye-open']"></span>-->
        <!--<span>{{movie.showSeen ? 'Hide seen' : 'Show seen'}}</span>-->
      <!--</label>-->
      <!--&lt;!&ndash; Mark all as seen &ndash;&gt;-->
      <!--<button class="btn btn-sm btn-default glossy"-->
             <!--data-toggle="tooltip" data-placement="bottom" title="Marks all episodes as seen"-->
             <!--ng-show="movie.unseenCount > 0" ng-click="markMovieSeen(mIndex)">-->
        <!--<span class="glyphicon glyphicon-check"></span>-->
        <!--<span>Mark as seen</span>-->
      <!--</button>-->
    </div>

    <!-- PANEL BODY -->
    <div class="panel-body" ng-if="!movie.collapsed">
      <div class="body-container">
        <!--- New Episodes --->
        <div ng-repeat="(eIndex, episode) in (movie.episodes | keyedOrderBy : 'id')"
               ng-class="['episode', episode.seen ? 'seen' : 'unseen']"
               ng-if="(!episode.seen || movie.showSeen || config.showSeen)">

          <!-- Episode Title -->
          <span class="clickable episodeTitle unselectable"
                 ng-click="episode.seen = !episode.seen; updateSeenStatus(mIndex); $emit('settings')" >
            {{episode.season + '.' + episode.number}} {{episode.title}}
          </span>
          <!-- Episode file size -->
          <span ng-show="episode.fileSize" class="episode-title">[{{episode.fileSize | fileSize}}]</span>
          <!-- Downloading state -->
          <span ng-show="episode.ariaRunning || episode.gettingTorrentFile" class="label label-primary"
                ng-bind="episode.downloadingDescription">
            Status...
          </span>
          <button ng-show="episode.number != 99 && !episode.gotTorrentFile && !episode.gettingTorrentFile" class="btn btn-xs {{episode.seen ? 'btn-default' : 'btn-primary'}}"
                  ng-click="getTorrent(mIndex, eIndex)">
            <span class="glyphicon glyphicon-download"></span> <span>Download</span>
          </button>
          <button ng-show="episode.gotTorrentFile && !episode.gotMovie && !episode.ariaRunning" class="btn btn-xs {{episode.seen ? 'btn-default' : 'btn-primary'}}"
                  ng-click="getMovie(mIndex, eIndex)">
            <span class="glyphicon glyphicon-download"></span> <span>{{episode.ariaResumable ? 'Resume download' : 'Download movie'}}</span>
          </button>
          <button ng-show="episode.gotMovie == 1" class="btn btn-xs {{episode.seen ? 'btn-default' : 'btn-success'}}"
                  ng-click="playMovie(mIndex, eIndex)">
            <span class="glyphicon glyphicon-play-circle"></span> <span>Play</span>
          </button>
          <!--<button ng-click="episodeDelete(mIndex, eIndex)">Delete</button>-->
        </div>
      </div>
    </div>
  </div>
  <div class="panel-heading movie-header unselectable"></div>
</div>