body {
  padding-top: 40px;
  background: #f5f5f5;
}

#loadingOverlay {
  position: fixed; 
  top: 40px; 
  left: 0px;
  width: 100vw;
  height: 100vh; 
  z-index: 10000;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-family: sans-serif;
  font-size: 48pt;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
}

.previewFrame {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  border: 0;
  border-top: 3px solid #333;
  height: 0;
  background: #fff;
}

.previewClose {
  position: fixed;
  bottom: 50%;
  right: 50%;
  margin-bottom: -5px;
  background: #333;
  border: 0;
}

.previewClose:hover {
  background-color: #c90000;
}

.episode {
  line-height: 22px;
}

.unseen {
  color: #000;
}

.seen {
  color: silver;
}
.seen .episode-title {
  font-style: italic;
}

.nav-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
}

.nav {
  background: #333;
  -webkit-user-select: none
}

.nav > li:first-child {
  padding-left: 10px;
}

.nav > li {
  margin-top: 1px;
}

.nav > li > a {
  color: #fff;
  font-weight: bold;
}

.nav > li > a:hover {
  background-color: #c90000;
}

/* nav3 is secondary taskbar on updates page */
.nav2 {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
  background: #666;
}

.nav2 > li {
  color: #fff;
  line-height: 35px;
}
.nav2 > li > label {
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
}

.nav2 > li[role=presentation] {
  padding-left: 25px;
}

.nav2 > li > input[type=checkbox] {
  display: none;
}

/* nav3 is secondary taskbar on trackers page */
.nav3 {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav3 li {
  line-height: inherit;
}

.nav3 > li:first-child {
  padding-left: 10px;
}


.list-container {
  padding: 15px 15px;
}

.list-container.padding-top-40 {
  padding: 40px 0 0 0;
}

.panel.movie {
  margin-bottom: 0px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd; /*dark bevel part*/
}

.movie .panel-heading, .movie-header {
  padding: 0 15px;
  border: 0;
  border-radius: 0;
  border-top: 1px solid #fff; /*light bevel part*/
}

.movie .panel-body {
  background: #f5f5f5;
  padding: 0 15px 15px 25px;
}

.movie .body-container {
  border-left: 1px dotted #555;
  padding-left: 10px;
}

.movie .unseen .episodeTitle:hover {
  text-decoration: line-through;
  color: silver;
}
.movie .seen .episodeTitle:hover {
  color: #000;
}

label.collapser {
  display: none;
  width: 22px;
  font-size: 17px;
  vertical-align: middle;
  text-align: center;
}

label.collapser.displayOverride {
  display: inline-block;
}

.movie-header:hover label.collapser {
  display: inline-block;
}

.movie-header .unseenCount {
  width: 22px;
  font-size: 14px;
}

.movie-header .unseenCount.twoDigit {
  padding: 3px 0;
}

.movie-header:hover .unseenCount {
  display: none;
}

.movie-header .btn {
  margin-top: -4px;
  border: 0;
}

.movie-header .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.movie-header .dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition:         all 0.2s  linear;
}
.movie-header .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

/* --- Buttons ---- */

.panel-body .btn {
  margin-top: -2px;
}

.glossy {
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.btn-outline-inverse, .btn-outline-inverse:focus {
  background-color: transparent;
  border-color: #ddd;
  color: #fff;
}
.btn-outline-inverse:hover {
  color: #fff;
  text-shadow: 0 0 3px white;
}

/* --- Login controller ---- */

.login-controller {
  height: 100vh;
  padding: 40px 0 0 0;
}

.login-controller iframe {
  border: 0;
}

/* --- Trackers controller ---- */

.trackers-list {
  pading-top: 40px;
}

/* --- Log panel ---- */

.log {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 500px;
  border-bottom: 1px solid black;
}
.log textarea {
  border: 0;
  padding-left: 5px;
  font-family: Monaco;
  font-size: 13px;
  color: #c9c9c9;
  background: rgba(85, 85, 85, 0.95);
}

.log #log {
  font-family: 'Lucida Grande';
  font-size: 10px;
  width: 100%;
  height: 100%;
}

/* Generic */
.inline {
  display: inline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.unselectable, button, .btn {
  -webkit-user-select: none;
}

.no-outline {
  outline-style: none;
}

.displayNone {
  display: none;
}
