<!DOCTYPE html>
<html ng-app="foundFilm">
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="lib/font-awesome-4.3.0/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <title>LostFilm favorite series tracker</title>
  </head>
  <body>

  <!-- jQuery FIRST -->
  <script src="lib/jquery/jquery-1.11.0.min.js"></script>
  <!-- angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <!-- bootstrap -->
  <script src="lib/bootstrap/js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/StringPrototype.js"></script> <!-- string helper -->
  <script src="js/node-init.js"></script>  <!-- initialize NODE Application and variables. Other files rely on this (!) -->
  <script src="js/foundfilm.js"></script>  <!-- contains object that works with lostfilm -->
  <script src="js/window.js"></script>  <!-- window controls -->

  <!-- angular app files -->
  <script src="app/js/app.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/controllers.js"></script>

  <script>
    function ffLog(msg) {
      var log = $('#log');
      log.val(msg + "\n" + log.val());
    }
  </script>

  <div ng-controller="ffMenu" class="antialiased unselectable">
    <ul class="nav nav-pills nav-main glossy unselectable" id="window-toolbar">
      <li role="presentation">
        <a ng-mousedown="isLoading=true" href="#/tracker"
          ng-class="[isCurrent('/tracker') ? 'active' : '']">Series</a>
      </li>
      <li role="presentation">
        <a ng-mousedown="isLoading=true" href="#/updates"
           ng-class="[isCurrent('/updates') ? 'active' : '']">Updates</a>
      </li>
      <li role="presentation" ng-show="isLoggedOut()">
        <a ng-mousedown="isLoading=true" href="#/login"
           ng-class="[isCurrent('/login') ? 'active' : '']">Log In</a>
      </li>
      <!-- window buttons -->
      <li class="buttons" style="float: right;">
        <div class="minimize">
          <a class="minimizebutton" href ng-click="minimizeWindow()"><span>‒</span></a>
          <!-- minimize button link -->
        </div>
        <div class="zoom">
          <a class="zoombutton" href ng-click="zoomWindow()"><span>+</span></a>
          <!-- zoom button link -->
        </div>
        <div class="xclose">
          <a class="closebutton" href ng-click="closeWindow()"><span>×</span></a>
          <!-- close button link -->
        </div>
      </li>
      <!-- Log button -->
      <li role="presentation" style="float: right;">
        <a href ng-click="showLog=!showLog" class="btn-log btn-sm">Log
          <button class="btn btn-xs btn-outline-inverse" type="button" style="border: 0">
            <span class="caret"></span>
          </button>
        </a>
      </li>
    </ul>
    <!-- Log panel -->
    <div class="log" ng-show="showLog"><textarea readonly="readonly" id="log"></textarea></div>
    <!-- Loader overlay -->
    <div ng-show="isLoading" id="loadingOverlay">Loading...</div>
  </div>

  <div ng-view></div>

  </body>
</html>
